<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Votre Profile</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="profileAdmin">CréditUBCI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="profileAdmin"></span>Espace Commercial</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/nouveauxDossiers"></span>Nouveaux dossiers</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/dossiersAcceptes"></span>Dossiers acceptés</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/dossiersRefuses"></span>Dossiers refusés</a>
        </li>
      </ul>
      <a href="/logout" class="btn btn-danger">Déconnection</a>
  
  </nav>
    <div class="container p-5">
     <br>
     <h3>La signature de cette demande est confirmé,cliquez ici pour rendre a l'accueil</h3>
     <a href="/profileAdmin"class="btn btn-primary">Accueil</a>
     
    </div>
</body>
</html>