<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Votre Profile</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Crédit<b>UBCI</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Acceuil <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#">Simulation</a>
            <a class="nav-item nav-link active" href="#">Contact</a>
            <a class="nav-item nav-link active" href="#">Autres</a>
            <a href="/logout" class="btn btn-danger">Déconnection</a>
          </div>
        </div>
      </nav><br><br>
      <div class="container">
        <h1 class="text-center mb-5 text-uppercase text-muted">connection et enregistrement</h1>
        <div class="row">
            <div class="col-sm-5 bg-light border rounded py-3">
                <h5>Votre demande</h5>
                <form action="" method="POST">
                        <h4>Les informations de client</h4>
                 <a href="/demandepartie2/" class="btn btn-success">Retour</a>
                 <a href="" class="btn btn-dark">Télécharger en PDF</a>

</form>
</body>
</html>      